header {
	@extend .-text-white;

	.background__color {
		background: radial-gradient(#1b83cd 0%, #0768AD 70%);
	}

	.title {
		font-size: 1.5em;
	}

	.arrow-down-container {
		    position: absolute;
			bottom: 20px;
			width: 100%;
			text-align: center;
	}
}