@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

@import "build/bower_components/bootstrap-4/scss/bootstrap-flex.scss";
@import "build/bower_components/fontawesome/scss/font-awesome.scss";
@import "src/sass/util.scss";
@import "src/sass/section.scss";
@import "src/sass/keyframes.scss";
@import "src/sass/menu.scss";
@import "src/sass/gmap.scss";

html {
	overflow-x: hidden;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

h1, h2, h3, h4, h5, h6 {
	&.title {
		text-transform: uppercase;
	}
}

p, .p {
    font-size: 1.1rem;
    line-height: 1.4em;

    margin-top: 0;
    margin-bottom: 1rem;
}

.full-screen {
    height: 100vh;
    width: 100%;
}
.half-screen {
    height: 50vh;
    width: 100%;
}
.min-half-screen {
    mmin-height: 50vh;
    width: 100%;
}
.screen-30 {
    height: 30vh;
    width: 100%;
    max-height: 500px;
}
.screen-20 {
    height: 20vh;
    width: 100%;
}
.screen-10 {
    height: 10vh;
    width: 100%;
    max-height: 170px;
}

section.background {
	@extend .-overflow-hidden;

	z-index: -1;
	position: absolute;

	.background__color {
		height: 2700px;
		width: 2700px;
		position: relative;
		z-index: -1;
	}
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	&.flex--vcenter {
		align-items: center;
	}
	&.flex--hcenter {
		justify-content: center;
	}
	&.flex--center {
		@extend .flex--vcenter;
		@extend .flex--hcenter;
	}
	&.flex--md-center {
		@media (max-width: 61.9em) {
			@extend .flex--center;
			width: 100%;
		}
	}
	&.flex--horizontal {
	    flex-direction: column;
	}
}

.tick {
	@include animation(tick 1000ms cubic-bezier(0, 1, 0, 1) infinite);
}

.arrow-down {
	@extend .fa;
	@extend .fa-chevron-down;

	position: relative;
	font-size: 30px;
	cursor: pointer;

	@include transition(200ms all ease);
	@include animation(arrow-down 1500ms ease 0s infinite);
}

.profile {
	@extend .-rounded;
	@extend .-max-percent;

	&.me {
		background-image: url(/build/img/me.jpg);
		background-size: contain;
	}
	&.img-bussola {
		background-image: url(/build/img/bussola.png);
		background-size: cover;
	}
	&.img-bussolaschool {
		background-image: url(/build/img/bussolaschool.png);
		background-size: cover;
	}
	&.img-learn-web {
		background-image: url(/build/img/learn-web.png);
		background-size: cover;
	}
	&.img-getup {
		background-image: url(/build/img/getup.png);
		background-size: cover;
	}
	&.img-stock {
		background-image: url(/build/img/stock.gif);
		background-size: cover;
	}
	&.img-mongoui {
		background-image: url(/build/img/mongoui.png);
		background-size: cover;
	}
	&.img-tenfold {
		background-image: url(/build/img/tenfold-logo.jpg);
		background-size: cover;
	}
	&.img-nebulab {
		background-image: url(/build/img/nebulab-logo.png);
		background-size: cover;
	}
	&.img-tracksale {
		background-image: url(/build/img/tracksale.png);
		background-size: cover;
	}
	&.img-ijunior {
		background-image: url(/build/img/ijunior.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
	&.img-teknisa {
		background-image: url(/build/img/teknisa.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
	&.img-javascript {
		background-image: url(/build/img/javascript-logo.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
	&.img-java {
		background-image: url(/build/img/java-logo.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
	&.img-c {
		background-image: url(/build/img/c-logo.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
	&.img-php {
		background-image: url(/build/img/php-logo.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
	&.img-HTML5 {
		background-image: url(/build/img/HTML5-logo.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
	&.img-css3 {
		background-image: url(/build/img/css3-logo.png);
		background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 50%;
	}
}

.profile-container-styles {
	border: 2px solid #D0CFCC;
	padding: 2px;
	@include transition(200ms all ease);
	@include filter(brightness(90%));

	&:hover {
		@include filter(brightness(100%));
	}
}
.map-container {
	@extend .-rounded;
	@extend .profile-container-styles;
}
.profile-container, .img-container {
	@extend .-rounded;
	@extend .profile-container-styles;

	@media (max-width: 33.99em) {
		width: 100px;
		height: 100px;

		float: left;
		margin-right: 10px;
	}
	@media (min-width: 34em) {
		width: 200px;
		height: 200px;
	}
	@media (min-width: 48em) {
		width: 150px;
		height: 150px;
	}
	@media (min-width: 62em) {
		width: 200px;
		height: 200px;
	}
	@media (min-width: 75em) {
		width: 250px;
		height: 250px;
	}
}
.img-container-small {
	@extend .-rounded;
	@extend .profile-container-styles;

	@media (max-width: 33.99em) {
		width: 60px;
		height: 60px;

		float: left;
		margin-right: 10px;
	}
	@media (min-width: 73em) {
		width: 60px;
		height: 60px;
	}
	@media (min-width: 34em) {
		width: 30px;
		height: 30px;
	}

	border: none;
	padding: 0;

	display: inline-block;
}


.animated {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.content-box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

a.clear {
	color: rgb(51, 51, 51);
	text-decoration: none;

	&:not(.clear--all):hover {
		text-decoration: underline;
	}
}
a.not-clear {
	text-decoration: underline;
}

.creativity {
	color: #032842;
}

.normal {
	@extend .-text-gray;
	font-size: 1rem;
}
.normal__icon {
	@extend .-small-1;
	position: relative;
	top: -1px;

	color: #666;
}

$skills: (
	javascript: Javascript,
	java: Java,
	c: "C/C++",
	php: PHP,
	html5: HTML5,
	css3: CSS3,
	elm: Elm,
	purescript: Purescript,

	angular: "Angular.js",
	react: "React",
	reactnative: "React Native",
	eslint: "ESlint",
	socket:"Socket.io",
	node: "Node.js",
	android: Android,
	polymer: "Polymer.js",
	jquery: Jquery,
	underscore: Underscore,
	ionic: Ionic,

	bower: Bower,
	babel: "Babel.js",
	yeoman: Yeoman,
	gulp: Gulp,
	less: Less,
	sass: Sass,
	grunt: Grunt,
	karma: "Karma.js",
	jenkins: Jenkins,
	jade: Jade,
	mocha: Mocha,
	github: GitHub,
	jekyll: Jekyll,

	arduino: Arduino,
	spark: Spark,
	bootstrap: Bootstrap,
	mongo: MongoDB
);

.skill-title {
    color: #777;
    position: relative;
    top: -8px;
}
@each $skill, $l in $skills {
	.component-skill--#{$skill} {

		.component-skill-title {
			@extend .skill-title;

			@media (min-width: 34em) {
				&:before {
					content: '#{$l}';
				}
			}
		}

		.component-skill-img {
			@extend .img-container-small;

			background-image: url(/build/img/#{$skill}-logo.png);
			background-size: contain;
		    background-repeat: no-repeat;
		    background-position: 50%;
		}
	}
}


$component-battery-life: "component-battery-life";
.#{$component-battery-life} {
	@extend .fa;
	@extend .normal__icon;

	&:hover {
		@include transition(2000ms color);

		color: #000;
	}
}
.#{$component-battery-life}-0 {
	@extend .component-battery-life;
	@extend .fa-battery-0;
}
.#{$component-battery-life}-1 {
	@extend .component-battery-life;
	@extend .fa-battery-1;
}
.#{$component-battery-life}-2 {
	@extend .component-battery-life;
	@extend .fa-battery-2;
}
.#{$component-battery-life}-3 {
	@extend .component-battery-life;
	@extend .fa-battery-3;
}
.#{$component-battery-life}-4 {
	@extend .component-battery-life;
	@extend .fa-battery-4;
}

.battery-tick-1-2 {
	@extend .fa;

	&:before {
		content: " ";
		@include animation(battery-tick 2500ms infinite);
	}
}

.component-aside {
	@extend .flex;
	@extend .flex--vcenter;
	@extend .flex--md-center;

	@extend .padding-md-down;
}



.container-max {
  @include make-container();

  // For each breakpoint, define the maximum width of the container in a media query
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      width: $container-max-width;
    }
  }
}

.path {
  stroke-dasharray: 1, 20;
  stroke-width: 5;
  stroke: #FFF;
  stroke-linecap: round;

  animation: dash-3 3s linear infinite;
}
.path-2 {
	animation: dash 3s linear infinite;
}
.path-3 {

  stroke-dasharray: 1, 40;
	  animation: dash-3 3s linear infinite
}

#footer {
    background: #ddd;
    text-shadow: 0px 2px 1px white;
}

@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-3 {
  from {
    stroke-dashoffset: 40;
  }
  to {
    stroke-dashoffset: 0;
  }
}
