body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@import "util.scss";
@import "header.scss";
@import "keyframes.scss";


.full-screen {
    height: 100vh;
    width: 100%;
}

section.full-screen {
	@extend .full-screen;
	@extend .-overflow-hidden;

	position: absolute;
}

section.background {
	z-index: -1;

	.background__color {
		height: 4000px;
		width: 4000px;
		border-radius: 50%;
		border: 4000px solid rgba(34, 34, 34, 0);
		position: absolute;
		top: -4000px;
		left: -4000px;
		z-index: -1;
	}
}
.next-background__color {
	background: radial-gradient(#F92525 0%, #C50707 70%);
}

.flex {
	display: flex;

	&.flex--vcenter {
		align-items: center;
	}
	&.flex--hcenter {
		justify-content: center;
	}
	&.flex--center {
		@extend .flex--vcenter;
		@extend .flex--hcenter;
	}
	&.flex--horizontal {
	    flex-direction: column;
	}
}

h1, h2, h3, h4, h5, h6 {
	&.title {
		text-transform: uppercase;
	}
}

.tick {
	@include animation(tick 1000ms cubic-bezier(0, 1, 0, 1) infinite);
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.arrow-down {
	@extend .fa;

	&:before {
		content: "\f078";
	}

	position: relative;
	font-size: 30px;
	cursor: pointer;

	@include animation(arrow-down 1000ms ease 0s infinite);
}