@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

@import "build/bower_components/bootstrap-4/scss/bootstrap-flex.scss";
@import "build/bower_components/fontawesome/scss/font-awesome.scss";
@import "src/sass/util.scss";
@import "src/sass/section.scss";
@import "src/sass/keyframes.scss";
@import "src/sass/menu.scss";
@import "src/sass/gmap.scss";


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

h1, h2, h3, h4, h5, h6 {
	&.title {
		text-transform: uppercase;
	}
}

p, .p {
    font-size: 1.1rem;
    line-height: 1.4em;
}

.full-screen {
    height: 100vh;
    width: 100%;
}
.half-screen {
    height: 50vh;
    width: 100%;
}
.min-half-screen {
    mmin-height: 50vh;
    width: 100%;
}
.screen-30 {
    height: 30vh;
    width: 100%;
}
.screen-20 {
    height: 20vh;
    width: 100%;
}
.screen-10 {
    height: 10vh;
    width: 100%;
}

section.background {
	@extend .-overflow-hidden;

	z-index: -1;
	position: absolute;

	.background__color {
		height: 2700px;
		width: 2700px;
		position: relative;
		z-index: -1;
	}
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	&.flex--vcenter {
		align-items: center;
	}
	&.flex--hcenter {
		justify-content: center;
	}
	&.flex--center {
		@extend .flex--vcenter;
		@extend .flex--hcenter;
	}
	&.flex--md-center {
		@media (max-width: 61.9em) { 
			@extend .flex--center;
			width: 100%;
		}
	}
	&.flex--horizontal {
	    flex-direction: column;
	}
}

.tick {
	@include animation(tick 1000ms cubic-bezier(0, 1, 0, 1) infinite);
}

.arrow-down {
	@extend .fa;
	@extend .fa-chevron-down;

	position: relative;
	font-size: 30px;
	cursor: pointer;

	@include transition(200ms all ease);
	@include animation(arrow-down 1500ms ease 0s infinite);
}

.profile {
	@extend .-rounded;
	@extend .-max-percent;

	&.me {
		background-image: url(/build/img/me.jpg);
		background-size: contain;
	}
	&.img-bussola {
		background-image: url(/build/img/bussola.png);
		background-size: cover;
	}
	&.img-getup {
		background-image: url(/build/img/getup.png);
		background-size: cover;
	}
	&.img-stock {
		background-image: url(/build/img/stock.gif);
		background-size: cover;
	}
	&.img-mongo {
		background-image: url(/build/img/mongo.png);
		background-size: cover;
	}
}

.profile-container-styles {
	border: 2px solid #D0CFCC;
	padding: 2px;
	@include transition(200ms all ease);
	@include filter(brightness(90%));

	&:hover {
		@include filter(brightness(100%));
	}
}
.map-container {
	@extend .-rounded;
	@extend .profile-container-styles;
}
.profile-container, .img-container {
	@extend .-rounded;
	@extend .profile-container-styles;

	@media (max-width: 33.99em) {
		width: 100px;
		height: 100px;

		float: left;
		margin-right: 10px;
	}
	@media (min-width: 34em) {
		width: 200px;
		height: 200px;
	}
	@media (min-width: 48em) {
		width: 150px;
		height: 150px;
	}
	@media (min-width: 62em) {
		width: 200px;
		height: 200px;
	}
	@media (min-width: 75em) {
		width: 250px;
		height: 250px;
	}

}


.animated {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.content-box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

a.clear {
	color: rgb(51, 51, 51);
	text-decoration: none;

	&:not(.clear--all):hover {
		text-decoration: underline;
	}
}
a.not-clear {
	text-decoration: underline;
}

.creativity {
	color: #032842;
}

.normal {
	@extend .-text-gray;
	font-size: 1rem;
}
.normal__icon {
	@extend .small-1;
	position: relative;
	top: -1px;
	
	color: #666;
}

$component-battery-life: "component-battery-life";
.#{$component-battery-life} {
	@extend .fa;
	@extend .normal__icon;

	&:hover {
		@include transition(2000ms color);

		color: #000;
	}
}
.#{$component-battery-life}-0 {
	@extend .component-battery-life;
	@extend .fa-battery-0;
}
.#{$component-battery-life}-1 {
	@extend .component-battery-life;
	@extend .fa-battery-1;
}
.#{$component-battery-life}-2 {
	@extend .component-battery-life;
	@extend .fa-battery-2;
}
.#{$component-battery-life}-3 {
	@extend .component-battery-life;
	@extend .fa-battery-3;
}
.#{$component-battery-life}-4 {
	@extend .component-battery-life;
	@extend .fa-battery-4;
}

.battery-tick-1-2 {
	@extend .fa;

	&:before {
		content: " ";
		@include animation(battery-tick 2500ms infinite);
	}
}

.component-aside {
	@extend .flex;
	@extend .flex--vcenter;
	@extend .flex--md-center;

	@extend .padding-md-down;
}
