$education-color: #34495e;
$projects-color: #16a085;
$experience-color: #2ecc71;
$skills-color: #3498db;

.list-menu {
	li {
	    border-bottom: 2px solid #FF6C6C;
	    padding: 0;
	    margin: 0 5px;
	    color: #777;
	    @include transition(200ms all ease);
	    cursor: pointer;
	}

	.list-education {
		border-bottom-color: $education-color;
		&:hover {
			border-bottom-color: lighten($education-color, 30%);
		}
	}
	.list-projects {
		border-bottom-color: $projects-color;
		&:hover {
			border-bottom-color: lighten($projects-color, 30%);
		}
	}
	.list-experience {
		border-bottom-color: $experience-color;
		&:hover {
			border-bottom-color: lighten($experience-color, 30%);
		}
	}
	.list-skills {
		border-bottom-color: $skills-color;
		&:hover {
			border-bottom-color: lighten($skills-color, 30%);
		}
	}
}