header {
	@extend .-text-white;

	.background__color {
		background: radial-gradient(#1b83cd 0%, #0D4E7B 100%);
	}

	.title {
		font-size: 1.5em;
	}

	.arrow-down-container {
			position: absolute;
			bottom: 20px;
			width: 100%;
			text-align: center;
	}
}

section, #fixed-header {
	h2, > h3 {
		font-family: 'Lora', serif;
		font-size: 4em;
		color: #FFF;
		margin-left: 50px;
		margin-bottom: 0;

		@include transition(200ms all ease);
		
		@media (max-width: 47.9em) { 
			margin-left: 10px;
		}
		@media (max-width: 33.99em) {
			font-size: 3em;
		}
	}

	.content {
		@extend .container;

		padding: 50px 0;
		padding-top: 11vh;
	}
}

#me {
	margin: 50px 0;
}

#education-header, .education-header {
	border-bottom: 3px solid #34495e;

	.background__color {
		background: radial-gradient(#34495e 0%, #168DA0 100%);
		border: 3000px solid transparent !important;
	}
}
#project-header, .project-header {
	border-bottom: 3px solid #16a085;

	.background__color {
		background: radial-gradient(#16a085 0%, #3B809A 100%);
		border: 3000px solid transparent !important;
	}
}
#experience-header, .experience-header {
	border-bottom: 3px solid #2ecc71;

	.background__color {
		background: radial-gradient(#2ecc71 0%, #23BB9F 100%);
		border: 3000px solid transparent !important;
	}
}
#skill-header, .skill-header {
	border-bottom: 3px solid #3498db;

	.background__color {
		background: radial-gradient(#3498db 0%, #2ECC92 100%);
		border: 3000px solid transparent !important;
	}
}

#fixed-header {
	top: 0;
	left: 0;
	position: fixed !important;
	display: none;
	z-index: 1000;

	.background__color {
		@include transition(200ms all);
		@include animation(background 1s ease infinite);
	}
	h2 {
		font-size: 3em;
	}
	h3 {
		font-size: 2em;
	}

	&.visible {
		display: flex;
	}
}