.-overflow-hidden {
	overflow: hidden;
}

.-background-transparent {
	background-color: transparent;
	background: transparent;
}

.-text-white {
	color: white;
}
.-text-white-hover:hover {
	@extend .-text-white;
}
.-text-black {
	color: #333;
}
.-text-gray {
	color: #777;
}
.-text-serif {
	font-family: serif;
}

.-rounded {
	border-radius: 50%;
}

.-inline {
	display: inline;
}
.-inline-block {
	display: inline-block;
}

.-max-hpercent {
	height: 100%;
}
.-max-wpercent {
	width: 100%;
}
.-max-percent {
	@extend .-max-hpercent;
	@extend .-max-vpercent;
}

.-clear-bezel {
	margin: 0 !important;
	padding: 0 !important;
}

.-pointer {
	cursor: pointer;
}

.-small, .-small-1 {
    font-size: 80% !important;
}
.-small-2 {
    font-size: 64% !important;
}
.-small-3 {
    font-size: 51.2% !important;
}
.-small-4 {
    font-size: 40.9% !important;
}
.-small-5 {
    font-size: 32.7% !important;
}

.has-subtitle {
	margin-bottom: 15px;
}

.padding {
	margin-bottom: 30px;
}
.padding-top {
	margin-top: 30px;
}
.padding-md-down {
	@media (max-width: 61.99em) {
    	margin-bottom: 30px;
	}
}
.padding-md-up {
	@media (min-width: 62em) {
    	margin-bottom: 30px;
	}
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin animation($args...) {
	-webkit-animation: $args;
	-moz-animation: $args;
	-ms-animation: $args;
	-o-animation: $args;
	animation: $args;      
}
@mixin filter($args...) {
	-webkit-filter: $args;
	-moz-filter: $args;
	-ms-filter: $args;
	-o-filter: $args;
	filter: $args;      
}
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacity-ie + ")";
}