.-overflow-hidden {
	overflow: hidden;
}

.-background-transparent {
	background-color: transparent;
	background: transparent;
}

.-text-white {
	color: white;
}
.-text-white-hover:hover {
	@extend .-text-white;
}
.-text-black {
	color: #333;
}
.-text-serif {
	font-family: serif;
}

.-rounded {
	border-radius: 50%;
}

.-inline {
	display: inline;
}
.-inline-block {
	display: inline-block;
}

.-max-hpercent {
	height: 100%;
}
.-max-wpercent {
	width: 100%;
}
.-max-percent {
	@extend .-max-hpercent;
	@extend .-max-vpercent;
}

.-clear-bezel {
	margin: 0 !important;
	padding: 0 !important;
}

.-pointer {
	cursor: pointer;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}
@mixin animation($args...) {
	-webkit-animation: $args;
	-moz-animation: $args;
	-ms-animation: $args;
	-o-animation: $args;
	animation: $args;      
}
@mixin filter($args...) {
	-webkit-filter: $args;
	-moz-filter: $args;
	-ms-filter: $args;
	-o-filter: $args;
	filter: $args;      
}
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacity-ie + ")";
}